/* Green button CSS */

#green_button {
	-fx-background-color: #2EB398;
}

#green_button:hover {
	-fx-background-color: #2BA68D;
}


/* Blue button CSS */

#blue_button {
	-fx-background-color: #5895DC;
}

#blue_button:hover {
	-fx-background-color: #538CCF;
}


/* Red button CSS */

#red_button {
	-fx-background-color: #DB5B5B;
}

#red_button:hover {
	-fx-background-color: #CC5454;
}


/* Blue text field CSS */

.text-field {
   -fx-accent: #5895DC;
}


/* Slider CSS */

/* Styling the slider thumb */
.jfx-slider .thumb {
     -fx-background-color: #5895DC;
}

/* Styling the filled track */
.jfx-slider .colored-track {
     -fx-background-color: #5895DC;
}

/* Styling the animated thumb */
.jfx-slider .animated-thumb {
     -fx-background-color: #5895DC;
}

